/*common*/
*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
img {
  display: block;
  width: 100%;
  height: auto;
}
button {
  cursor: pointer;
}

h1 {
  font-family: "Titan One";
  font-style: normal;
  font-weight: 400;
  font-size: 26px;
  line-height: 30px;
  letter-spacing: 0.04em;
  color: var(--white);
}
/*/common/*/
.header {
  // position: relative;
  height: 502px;
  background-color: var(--main-pink);
  display: flex;
  flex-direction: column;
  &__nav-mobile {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 6px 20px 0px 20px;
  }
  &__burger {
    background: none;
    border: none;
  }
  &__banner {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    &-background {
      z-index: 1;
      display: flex;
      position: relative;
      picture img#pic1 {
        z-index: 2;
        position: absolute;
        width: 344px;
        height: 346px;
        left: -117px;
        top: 23px;
      }
      picture img#pic2 {
        z-index: 4;
        position: absolute;
        width: 171px;
        height: 410px;
        top: 36px;
        left: -40px;
      }
    }
    &-title {
      z-index: 10;
      position: absolute;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      max-width: 218px;
      gap: 20px;
      left: 20px;
      top: 137px;
      &--red {
        color: var(--main-red);
        font-size: 48px;
        line-height: 46px;
      }
    }
    &-buttons {
      display: flex;
      flex-direction: row;
      gap: 8px;
    }
    &-button1 {
      background: var(--main-red);
      border-radius: 20px;
      border: none;
      width: 62px;
      height: 24px;
      font-family: "DM Sans";
      font-style: normal;
      font-weight: 400;
      font-size: 8px;
      line-height: 10px;
      color: var(--white);
    }
    &-button2 {
      background: var(--white);
      border-radius: 20px;
      border: none;
      width: 83px;
      height: 24px;
      font-family: "DM Sans";
      font-style: normal;
      font-weight: 400;
      font-size: 8px;
      line-height: 10px;
      color: var(--main-red);
    }
  }
}

.mobile-header {
  overflow: hidden;
}
.mobile-menu {
  position: fixed;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 60px 0px 0px 0px;
  background-color: var(--menu-pink);
  z-index: 20;
  transform: translateX(100%);
  transition: transform 250ms ease-in-out;
  &__center {
    display: flex;
    justify-content: center;
  }
  &__close {
    background: none;
    border: none;
    cursor: pointer;
    position: absolute;
    top: 21px;
    right: 25px;
  }
  &__item {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 19px;
    list-style: none;
    width: 100%;
  }
  &__links {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    list-style: none;
    &-item {
      display: flex;
      width: 100%;
      height: 42px;
      border-top: 1px solid var(--light-pink);
      &:nth-child(5) {
        border-bottom: 1px solid var(--light-pink);
      }
    }
  }
  &__link {
    display: flex;
    align-items: center;
    text-decoration: none;
    font-family: "DM Sans";
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    color: var(--white);
    padding: 0px 0px 0px 21px;
    &--current {
      color: var(--main-red);
    }
  }
  &__button {
    width: 209px;
    height: 44px;
    background: var(--white);
    border-radius: 22px;
    border: none;
    font-family: "DM Sans";
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 21px;
    color: var(--main-red);
    &--gap {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 16px;
    }
  }
}

.mobile-menu.is-open {
  transform: translateX(0);
}

@media screen and (max-width: 479px) {
  .header {
    &__counter-container {
      display: none;
      visibility: 0;
      pointer-events: none;
    }
    &__tablet-desktop-icons {
      display: none;
      visibility: 0;
      pointer-events: none;
    }
  }

  nav .mobile-menu__button {
    display: none;
    visibility: 0;
    pointer-events: none;
  }
}

@media screen and (min-width: 480px) {
  .header {
    position: relative;

    &__burger {
      margin-right: 30px;
    }

    &__counter-container {
      position: relative;
      display: flex;
      flex-direction: column;
      padding-right: 34px;
      margin-bottom: 14px;
      margin-top: 20px;

      & > svg {
        position: absolute;
        fill: #ffffff;
        right: 20px;
        top: -10px;
      }
    }

    &__counter {
      z-index: 2;
      font-family: "Titan One";
      font-style: normal;
      font-weight: 400;
      font-size: 28px;
      line-height: 32px;
      text-align: right;
      letter-spacing: 0.04em;
      text-transform: uppercase;
      color: #d41443;

      &-title {
        font-family: "DM Sans";
        font-style: normal;
        font-weight: 400;
        font-size: 8px;
        line-height: 10px;
        text-align: right;
        color: #ffffff;
      }
    }

    &__tablet-desktop-icons {
      position: absolute;
      width: 100%;
      bottom: 0px;
    }

    &__circle-button {
      height: 18px;
      width: 18px;
      border-radius: 50%;
      background-color: #ffffff;
      border: none;
      position: absolute;
      bottom: -27px;
      left: 0;
    }
  }
  picture img#pic3 {
    z-index: 4;
    position: absolute;
    width: 124px;
    height: 126px;
    bottom: 28px;
    left: 34px;
  }

  figcaption {
    position: absolute;
    bottom: 50px;
    left: 150px;
    width: 114px;
    height: 48px;
    font-family: "DM Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 8px;
    line-height: 150%;
    color: #ffffff;
  }

  picture img#pic4 {
    z-index: 4;
    position: absolute;
    width: 168px;
    height: 133px;
    bottom: 0;
    right: 34px;
  }
}

@media screen and (min-width: 480px) and (max-width: 650px) {
  .header {
    position: relative;

    &__circle-button {
      bottom: -37px;
    }
  }

  picture img#pic3 {
    z-index: 4;
    position: absolute;
    width: 110px;
    height: auto;
    bottom: 28px;
    left: 34px;
  }

  figcaption {
    bottom: 50px;
    left: 130px;
    width: 100px;
    height: 48px;
  }

  picture img#pic4 {
    z-index: 4;
    position: absolute;
    width: 130px;
    height: auto;
    bottom: 0;
    right: 0;
  }

  nav .mobile-menu__button{
    width: 130px;
  }
}

@media screen and (max-width: 1199px) {
  .header {
    &__desktop-menu {
      display: none;
      pointer-events: none;
      visibility: 0;
    }
  }
}

@media screen and (min-width: 1200px) {
  .header {
    &__burger {
      display: none;
      visibility: 0;
      pointer-events: none;
    }

    nav .mobile-menu__button {
      margin-right: 115px;
    }

    &__nav-mobile {
      align-items: center;
    }

    &__banner {
      &-button1 {
        &:hover {
          background-color: #c7133e;
        }
      }

      &-button2 {
        &:hover {
          background-color: #ecebeb;
        }
      }
    }
  }
  .menu {
    &__list {
      list-style: none;
      display: flex;
      gap: 35px;
    }

    &__item {
      font-family: "DM Sans";
      font-style: normal;
      font-weight: 700;
      font-size: 16px;
      line-height: 21px;
      display: flex;
      align-items: center;
      cursor: pointer;

      & > a {
        text-decoration: none;
        color: #ffffff;

        &:hover {
          color: #d41443;
        }
      }
    }
  }

  nav .mobile-menu__button:hover {
    background: #ecebeb;
  }

  h1{
    font-size: 38px;
  }
}
